@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Pretoria';
  src: url('/fonts/Pretoria-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moret';
  src: url('/fonts/Moret-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moret';
  src: url('/fonts/Moret-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moret';
  src: url('/fonts/Moret-BookObilque.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
